@model Productt

<div class="container">
    <div class="row">
        <h2>Delete Product</h2>

        <form method="post" >
            <div class="form-group">
                <label for="Name">Name</label>
                <input asp-for="Name" class="form-control" id="Name" disabled />
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <input asp-for="Description" class="form-control" id="Description" disabled />
            </div>
            @* <div class="form-group">
                <label for="ImagePath">Image Path</label>
                <input asp-for="ImagePath" class="form-control" id="ImagePath" disabled />
            </div> *@
            <div class="form-group">
                <label for="Price">Price</label>
                <input asp-for="Price" class="form-control" id="Price" disabled />
            </div>
            <div class="form-group">
                <label for="CategoryId">Category</label>
                <input asp-for="Category.Name" class="form-control" id="CategoryId" disabled />
            </div>

           
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="@Url.Action("Index", "Productt", new { area = "Admin" })" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
